
* {
    box-sizing: border-box;
    color: $text;
  }

  body {
    background-image: url("img/vwbus-bytylernix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45%;
    height: 100vh;
    margin: 0;

  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $nav-color;
}
  .nameLogo {
    display: flex;
    flex-direction: row;

  }

  .title {
    color: $background-color;
    font-style: oblique;
    font-size: 2em;
  }

  .surfImg {
    max-width: 50px;
    height: 40px;
  }

  main {
    height: 90%;
  }


  .ksearch {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  input[type="search"] {
    background: $background-color;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
    padding-left: 1em;
    color: $background-color;
    width: 85%;
  }

  .btn {
    color: $nav-color;
    background-color: $background-color;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;

    &:hover {
      color: $hover-color;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .todays-date {
    display: flex;
    justify-content: center;
    font-size: 1em;

    &>p {
      color: $background-color;
    }
    
  }

  .right-date,
  .right-time {
    color: $background-color;
  }

  .weather-info {
    padding-left: 25px;
    font-size: 2em;
  }

  .beach {
    font-size: 2.5em;
  }

  .peaks {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    padding: 13px;
    border-radius: 10px;
    opacity: 90%;
  }

  a {
    color: $nav-color;

    &:link {
      text-decoration: none;
    }

    &:hover {
      color: $background-color;
    }
    
  }

  .flex-ft {
    display: flex;
    justify-content: space-around;
    //background-color: $nav-color;
    color: $background-color;
  }

  .date {
    color: $nav-color;
    background-color: $background-color;
    border: none;
    border-radius: 2.5px;
    transition: all .2s ease-in-out;

    &:hover {
      color: $background-color;
      background-color: $btn-light;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    color: $background-color;
  }
 

// === MEDIA QUERY === //

@media only screen and (min-width: 425px) {
  
  body {
    background-position: 20% 25%;
  }
}